.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
  .MuiOutlinedInput-notchedOutline {
  border-color: gray !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
  color: black !important;
}

.image-container {
  position: relative;
  display: inline-block;
  border: 2px solid red;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  max-height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-button {
  position: absolute;
  top: 1px;
  right: 2px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: gray;
}
